body{
    background-color: rgb(199, 255, 236);
    margin-left: 60px;
    margin-right:60px;
}
.nav1 {
  text-align: center;
  display: inline-block;
  background-color: rgb(0, 180, 171);
  padding: 10px;
  border:1px solid #000;
}

.ul1{list-style-type: none;}
.btn{  display: inline-block;
  background-color: rgb(0, 180, 171);
  padding: 10px;
  border:1px solid #000;}

  .showpic{display: flex;}

  .pict{flex:1; background: rgb(199, 255, 236); margin-left: 240px; margin-right: 240px; text-align: center;}
  footer{text-align: center;}