body{
    background-color: rgb(199, 255, 236);
}
nav {
  text-align: center;
}
.ul1{list-style-type: none;}
.btn{  display: inline-block;
  background-color: rgb(0, 180, 171);
  padding: 10px;
  color: rgb(0, 0, 0);}